// Import page-specific CSS files here.
@import "home";
@import "navbar";
@import "show";
@import "_photo_show_page";
@import "_new";


.header {
  color: #0d475c;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  height: 250px;
  // object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  // background-position-y: -200px ;
}
.herotext{
  margin-top:195px;
  text-shadow: 2px 2px 2px #e8ebec;
}
.inner-sorting-table {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  height: 25px;
}
.body-content {
  display: flex;
}
.category {
  width: 300px;
}
.category-button {
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}
.category-button:hover {
  padding: 10px;
}
.cards {
  margin-left: 50px;
  justify-content: flex-start;
  text-align: center;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(230px, auto);
  grid-auto-flow: columns;
  grid-gap: 5px 15px;
}
.each-card {
  width: 200px;
  border-radius: 20px;
  background-color: rgb(233, 233, 233);
  transition: 0.9s;
}
.each-card:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 30px;
  box-shadow: 1px 1px 12px gray;
  transform: rotate(5deg);
}
.cards a {
  text-decoration: none;
  color: #0d475c;
}
.each-card img {
  width: 200px;
  box-sizing: border-box;
  height: 160px;
  border-top-left-radius: 20px;
  object-fit: cover;
  border-top-right-radius: 20px;
}
.wrapper{
  opacity: 0.9;
}
option:checked {
  background-color: #0d475c;
}





// .body-div {
//   margin-top: 40px;
//   margin-bottom: 40px;
//  text-align: center;
//  height: 50px;
// }

// .body-flex {
//   display: flex;
// }

// .index-div{
//   display: flex;
//   justify-content: space-between;
//   margin-left: 25%;
//   margin-right: 25%
//   // margin-bottom: -20px;
// }


// .card-product {
//   margin-top: 12px;
//   margin-bottom: 12px;
//   margin-left: 25%;
//   margin-right: 25%;
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 8px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   transition: 0.6s;
// }
// .card-product:hover {
//   border-radius: 10px;
//   margin-left: 24%;
//   margin-right: 24%;
//   box-shadow: 3px 3px 15px rgba(31, 15, 15, 0.2);
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }
// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }
//  a {
//   text-decoration: none;
//   color: gray;
// }
// a:hover {
//  color: black;
// }
// .card-product .card-product-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }
// footer {
//   display: none;
// }
