
.my-title {
  margin-top: 35px;
  text-align: center;

}
.show-page-h {
  font-weight: bolder;
}
.body-div-show {
  width: 700px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
}

.body-div-show img {
  height: 300px;
  width: 700px;
  object-fit: cover;

}

.map-container{
  margin: 0 auto;
  margin-top: 35px;
  // box-shadow: rgba(0 0 0 / 35%) 0px 5px 15px;
  padding: 20px;
  background-color: #0D475C;
  border-radius: 9px;
  margin-bottom: 80px;
}

.map {
  padding: 20px;
}

.right-box{
  display: flex;
  flex-direction: column;
}

.left-box{
  display: flex;
  flex-direction: column;
}

.user-info{
  margin-top: 30px;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #2f758f;
  border-radius: 9px;
}
