<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <div class="wrapper">
   <div class="body-div">
    <h1>Start Exploring The Market</h1>
   </div>

   <div class="index-div">
   <%# make login to show total ads and category name %>
    <p><strong>xxxx ads </strong>in category name</p>
      <div>
      <%# make link to sort the items by price, location, most recent etc %>
        <%=link_to "sort by", "#", class: "filter-btn" %>
      </div>
   </div>

    <%# add image location source%>
    <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <% @items.each do |item| %>
          <h2><%= item.name %></h2>
          <p><%= item.description %></p>
          <%= item.price %>
        <% end %>
      </div>
    </div>
    <%# this is an example only - can be deleted later %>
    <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>


  </div>
</body>
</html>
